@font-face {
	font-family: 'Ubuntu';
	src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);}

.button_body {
    background: #FF980C;
    border: 1px solid #000000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 40px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    margin: 12% auto;
    z-index: 2;
    width: 10%;
    cursor: pointer;
}

@media (max-width: 415px) { /* Ограничиваем увеличение шрифта только на устройствах с шириной экрана не менее 768px */
  .button_body {width: 75%}
}