@font-face {
	font-family: 'Ubuntu';
	src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);}

@font-face {
	font-family: 'Ubuntu-light';
	src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);}

@font-face {
	font-family: 'Ubuntu-Med';
	src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);}

input::placeholder {
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
}

.data_body {
    background: #E9CBF8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    height: 5vh;
    width: 25vw;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.input_text_data {
    font-family: 'Ubuntu-Med';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    /* identical to box height */


    color: rgba(0, 0, 0, 1);

    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) { /* Ограничиваем увеличение шрифта только на устройствах с шириной экрана не менее 768px */
  .data_body {width: 80%}
}