body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #220d2c;
  z-index: -1;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: 'Ubuntu-light';
	src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);}

.menu_main {
  background: linear-gradient(180deg, #C54DFF -29.4%, rgba(197, 77, 255, 0) 127.36%);
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.work-area {
  display: flex;
  position: absolute;
  right: 0;
  margin-top: 6%;
  width: 95vw;
  height: 50vh;
  align-items: center;
  flex-direction: column;
  transition: width 0.5s ease-out;
  z-index: 2;
}

.work-area.active {
  width: 75vw;
}

.menu-area {
  width: 5vw;
  height: 100vh;
  background-color: rgba(255,255,255, 0.50);
  justify-content: center;
}


.logo-main {
  width: calc(620px / 1.5);
  height: calc(283px / 1.5);
}

.menu-btn {
  width: 5%;
  height: 10%;
  border-radius: 25px;
  cursor: pointer;
}

.content-container {
  background: rgba(233, 203, 248, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  flex-direction: column;
  display: none;
}

.content-container p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 5px 0 0 2vh;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.question_cont {
  position: absolute;
  width: auto;
  max-width: 35vw;
  height: auto;
  top: 5%;
  right: 6%;

  display: flex;
  flex-wrap: wrap;

  background: #FCBF6B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding-left: 2%;
  padding-right: 2%;
}

.question_cont p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;

  color: #000000;
}

.answer_cont {
  position: absolute;
  width: auto;
  height: auto;

  max-width: 40%;

  display: flex;
  flex-wrap: wrap;

  top: 25%;
  left: 5%;

  background: #F8E3C7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding-left: 2%;
  padding-right: 2%;
}

.answer_cont p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;

  color: #000000;
}

.faq_cont {
  position: relative;
  width: auto;
  height: auto;

  max-width: 92%;

  display: flex;
  flex-wrap: wrap;

  left: 5%;

  background: #F8E3C7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding-left: 2%;
  padding-right: 2%;
}

.faq_cont p {
  font-family: 'Ubuntu-light';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 23px;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 6%;
  margin-top: 3%;
  color: #000000;
}

.faq_cont h1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 23px;
  color: #000000;
}

.second_message {
  display: flex;
  flex-direction: row;
}

.second_message > * {
  margin-right: -4%;
}

.toodle_icon{width: 7vh; height: 7vh}

.avatar_img_screen {width: 3.5vw}
.avatar_img_screen_2 {width: 3.5vw; top: 26%}
.lines{width: 100vw; height: 100vh}

@media (max-width: 900px) { /* Ограничиваем увеличение шрифта только на устройствах с шириной экрана не менее 768px */
  .menu-btn{height: 5%; width: 8.5%; z-index: 4}
  .logo-main{width: 60vw; height: 15vh}
  .second_message{}
  .toodle_icon{width: 4vh; height: 4vh}
  .faq_cont p {
    font-size: 15px;
  }
  .faq_cont h1 {
    font-size: 17px;
  }
  .work-area {
    width: 90%;
    padding-top: 25%;
    padding-right: 10%;
  }
  .content-container p {font-size: 12px}
  .avatar_img_screen {width: 10vw}
  .avatar_img_screen_2 {width: 10vw; top: 45%}
  .question_cont{right: 12.5%; max-width: 70vw}
  .answer_cont{left: 12.5%; max-width: 70vw; top: 45%}
  .lines{width: 100%; height: 65%; padding-top: 50%}
}